[2018-07-16 17:29] KastanDay opened #8 "getFitnessScore() possibe?"
Hello! Thank you for this work, it has sped up my alignment by an order of magnitude (30 sec --> 2 sec)!

I'm wondering if there is currently any way of retrieving the "Fitness score" which is printed upon alignment completion.  I see it is calculated and printed in the file `Super4PCS/include/pcl/registration/impl/super4pcs.hpp` but I do not see any easy way of extracting that score for my own us

[2018-07-16 19:57] KastanDay commented on #8
Solution:
I added a public member variable `float fitness_score_;` to `Super4PCS/include/pcl/registration/super4pcs.h` then inside of `Super4PCS/include/pcl/registration/impl/super4pcs.hpp` I simply changed the above line to:
[code]
Now in order to view the fitness score in my program I write:
[code]

[2018-07-17 08:20] nmellado commented on #8
Hi @KastanDay ,

That's indeed a way to do it.
Please feel free to submit a PR with you changes (I'm out of work now and cannot update the code before a week, I'll do it later otherwise).
If you do submit a PR, I would prefer that `fitness_score_` stays protected and accessed using `float getFitnessScore() const`.

The other option is to give the possibility to set the `TransformationVisitor` from

[2018-07-18 21:17] KastanDay commented on #8
You are very correct, a protected member variable with a getter would be much better. I'd be happy to type that up and submit a PR. Full disclosure, as a undergrad developer this would be my first PR on an open source project - pretty exciting.

I unfortunately can't figure out what you mean exactly by setting the `TransformationVisitor`.  I dug through the documentation and the PCL header files s

[2018-07-25 14:38] nmellado commented on #8
Please fill free to submit the PR ;). Don't forget to add you in the contributor list by editing doc/overview.md

For the `TransformationVisitor`, it's ok I'll do it later (I keep the issues open in the meantime).

[2018-08-02 14:01] KastanDay opened #9 "Unexpected behavior - Matching object is flattened"
Hello,
I'm experiencing a weird glitch where the object (green) is being badly deformed in a ways that shouldn't happen when it's being matched to the scene (purple).  This flattening glitch occurs as frequently as 50% of the time :( sometimes more, oftentimes less.

Have you experienced this behavior before? Any idea how I could prevent it, or catch when it happens so my robot doesn't try to grab

[2018-08-09 07:27] nmellado commented on #9
Hi @KastanDay ,

Thanks for the report.
Do you observe similar glitches when running 4PCS instead of Super4PCS (`-x` option) ?
Also, can you provide a test dataset so I can reproduce the error ?

Cheers,

[2018-08-09 08:01] nmellado commented on #8
Field added with 3b0ab9e608985e59d911deaaf37116f2bfc79fd6

[2018-09-07 08:27] zhouchuangchuang opened #11 "PCL Wrapper Compilation and Boost"
Hi,

Thank you for your share. But when I use PCL Wrapper, I have some problems.  I have installed PCL, Eigen, OpenCV and Boost, but when I use PCLWrapper in demos of Super4PCS-Master, there are some problems.
First question is that the programm can't find the shared4pcs.h. So I put all the .h files that the programm need in a folder, and the question has been solved, but I don't know whether it i

[2018-09-07 10:50] zhouchuangchuang commented on #11
Hi, I have solved the second problem by modifying ply_parser.h to declare the 'callbacks_element' member of the 'list_property_definition_callbacks_type' and 'scalar_property_definition_callbacks_type' classes as public instead of private.

But there is another problem after I solve the second problem, it says Severity	Code	Description	Project	File	Line	Suppression State
Error	LNK1104	cannot open

[2018-09-07 15:05] nmellado commented on #11
Hi,
Thanks for your report
Can you confirm you use the `master` branch, and give me your compiler version ?

Also, is this problem still occurring if you use the branch `algo-functors-rebased` (you might need to re-modify `ply_parser.h`) ?

[2018-09-07 15:16] zhouchuangchuang commented on #11
Hey,
My computer is win10, and I use VS2017, what's more, the version of Boost is 1.68, and Cmake is 3.12.
(Now I have added the path of super4pcs_algo.lib in Linker--Input--Additional Dependencies like D:\Program Files (x86)\Super4PCS-v1.1.3-win64\lib\super4pcs_algo.lib, but I can't find the path of super4pcs_utils.lib)
My freind uses LINUX, and he told me that the programm in his computer can ru

[2018-09-07 15:19] nmellado commented on #11
Did you try to clean the cmake cache ?
This should be fixed with `algo-functors-rebased`.

[2018-09-08 14:04] zhouchuangchuang commented on #11
Hi,
I have cleaned the cmake cache. Und This time I have used the branch algo-functors-rebased. Then there was the problem like first----- Error C2248 'pcl::io::ply::ply_parser::scalar_property_definition_callbacks_type::callbacks_element': cannot access private struct declared in class 'pcl::io::ply::ply_parser::scalar_property_definition_callbacks_type' .

So I corrected the private to public.

[2018-09-08 14:29] zhouchuangchuang commented on #11
And after I built the solution of Super4PCS, the error is :
Severity	Code	Description	Project	File	Line	Suppression State
Error	LNK1104	cannot open file 'opengr_utils.lib'	Super4PCS	E:\1.1HIWI\1\3.new branch\OpenGR-algo-functors-rebased\demos\Super4PCS\LINK	1

[2018-09-09 20:15] zhouchuangchuang commented on #11
I think the most terrible problem is Error 1104, because I can't find the path of file opengr_utils.lib...May you help me?

[2018-09-10 08:10] nmellado commented on #11
I'm currently investing to solve your problem.

Regarding the link error, do you open the project directly using VS2017, or do you generate a solution using cmake and then load it in VS2017 ?

[2018-09-10 08:42] zhouchuangchuang commented on #11
Hi,
Thank you for your reply. First I run the programm run-example.bat in scripts. Then  I use your CmakeLists of Demos directly in Cmake, then load .sln in vs2017. Because the header file is #include "gr/../..", so I set the gr folder in properties--C/C++--Additional Include Diretories.

Finally I get the Link error, but I think perhaps there will be other errors, after we solve the LINK error.

[2018-09-10 08:54] nmellado commented on #11
I see, I've not tested to directly load the PCLWrapper CMakelist.

As described [here](https://storm-irit.github.io/OpenGR/a00008.html)**, you need to load OpenGR CMakelist.txt with VS, and then compile the PCLWrapper by building the target `OpenGR-PCLWrapper`.

** There is a typo in the online documentation, read `OpenGR-PCLWrapper` and not `Super4PCS-PCLWrapper`.

[2018-09-10 09:27] nmellado commented on #11
No worries. But please carefully read the documentation. If something is not clear, I can update it.

As described in the [compilation instructions](https://storm-irit.github.io/OpenGR/a00002.html), you can load cmake projects in Visual Studio using the so called [cmake plugin](https://blogs.msdn.microsoft.com/vcblog/2016/10/05/cmake-support-in-visual-studio/).

With this plugin installed, just op

[2018-09-10 13:56] zhouchuangchuang commented on #11
Hi，
Please don't close this Issue..I mean, I haven't solved the problem. Now I am dealing with problem of vs for hours:
1> Access to the path 'C:\Users\__\CMakeBuilds\53926e5a-74fe-4933-98dd-1b27eaf43917\build\x64-Debug' is denied.
   at System.IO.__Error.WinIOError(Int32 errorCode, String maybeFullPath)
   at System.IO.Directory.InternalCreateDirectory(String fullPath, String path, Object dirSecu

[2018-09-11 20:16] zhouchuangchuang commented on #11
Hi,
Sorry, but I must ask you a question, which version of Boost do you use, because after I open OPENGR-Folder, there are always errors like:
 Severity	Code	Description	Project	File	Line	Suppression State
Error		CMake Error at D:/Program Files/C/Common7/IDE/CommonExtensions/Microsoft/CMake/CMake/share/cmake-3.11/Modules/FindBoost.cmake:2044 (message):
  Unable to find the requested Boost librarie

[2018-09-11 21:11] zhouchuangchuang commented on #11
Hi.
I solve the Boost problem by rebuild boost:    b2 variant=release link=static runtime-link=static stag

[2018-09-12 09:07] nmellado commented on #11
I got a notification telling me you solved your problem, but can't find the post.
Is it good now ?

Note that, as written in cmake error message, you need to tell cmake where is boost.
To do so, you need to edit the options passed to cmake and specify `BOOST_ROOT` to the directory containing boost.
See how to set cmake parameters in VS2017: https://docs.microsoft.com/fr-fr/cpp/ide/cmake-tools-for-

[2018-09-17 14:39] zhouchuangchuang commented on #11
Today I find the solution of the Boost-problem, when I installed boost library, I just input bootstrap.bat and b2 in cmd.   But the right step after bootstrap.bat is b2 --toolset=msvc-14.1 --build-type=complete stage
(for vs2017 is 14.1)

[2018-09-20 11:35] zhouchuangchuang commented on #11
I forgot to say that, we should also to add
set(BOOST_ROOT "D:/Program Files (x86)/boost_1_68_0")
in CMakeLists.txt in src--gr/super4pcs---io.

[2018-09-20 12:15] zhouchuangchuang commented on #11
Now I have met a now problem...
Severity	Code	Description	Project	File	Line	Suppression State
Error	C2440	'initializing': cannot convert from 'std::basic_string<wchar_t,std::char_traits<wchar_t>,std::allocator<wchar_t>>' to 'std::basic_string<char,std::char_traits<char>,std::allocator<char>>'	D:\Program Files\C\Common7\IDE\CMakeLists.txt	C:\Users\zh\Desktop\OpenGR-master\src\super4pcs\io\io.cc	154

[2018-09-20 19:18] zhouchuangchuang commented on #11
Hi，
First, thank you for your share. And I have solved the problem of PCL Wrapper. I used the programm in your [Super4PCS](https://github.com/nmellado/Super4PCS), and it works very good.

But the programm in OpenGR doesn't work,the problem is C2440. Next week I will share the experience about PCL Wrapper. I have maken so many foolish problems.

Thank you for your reply and help.

[2018-09-24 16:02] cardboardcode opened #12 "Failed to compile: "error: non-member function ‘float getFitnessScore()’ cannot have cv-qualifier float getFitnessScore() const""
Hi there, thank you for sharing and maintaining this repository.

**I encountered an error during compilation and unsure how to proceed.**

System Specifcations
[code]
I followed the instructions specified under [Compilation.md's \[Compiling the library, application and tests\]](https://github.com/STORM-IRIT/OpenGR/blob/master/doc/Compilation.md#-compiling-the-library-application-and-tests) in ord

[2018-09-25 16:37] cardboardcode commented on #12
Hi @nmellado,
As an update to this issue,

I have also tried to compile via the cmake command `cmake -DCMAKE_BUILD_TYPE=Release ..
` found under [Compilation.md's \[Linux and MacOS Builds\]](https://github.com/STORM-IRIT/OpenGR/blob/master/doc/Compilation.md#linux-and-macos-builds).

**Same error** generated as before.

[2018-09-26 06:27] nmellado commented on #12
Hi @cardboardcode ,
Sorry for this, it is fixed now.
Thanks for the report.

[2018-09-29 15:39] j-polden commented on #9
For what it is worth, I have also experienced this bug. The rotation matrix produced by the algorithm is not normalised in each of the component x-y-z direction vectors, which causes a skew when the pointcloud is transformed. I did not investigate further, but was able to mitigate the bug by altering the parameters somewhat.

[2018-09-29 18:18] nmellado commented on #9
Thanks for your report.
Do you still have a dataset+parameters causing this behavior ?

[2018-09-30 17:08] KastanDay commented on #9
Sorry for being AFK. I no longer have access to this info or data sets (I was working as a summer intern at NASA, prototyping robotic assembly, so at least your research was put to good use).
I'll reach out on Monday and see if they're still using this alignment algorithm and ask for their params + scene data. Thanks for your development work!!

[2018-10-09 10:16] nmellado commented on #9
Thanks a lot @j-polden , I'll try to work on it ASAP.

[2018-10-28 12:53] #11 closed

[2018-12-16 10:28] cardboardcode opened #16 "How to set logLevel to control debugging verbosity?"
Hi there,

May i enquire what is the right way to silence the verbosity?

After checking through the OpenGR API, the verbosity seems to be linked to the enum variable in Utils: `logLevel`. Here is the [link](https://storm-irit.github.io/OpenGR/a00102.html#ad36376e2e9f9c71561dca43867be64d4).

Is there a way to programmatically set the `logLevel` from **Verbose** to **NoLog** when running the pose a

[2018-12-16 16:42] nmellado commented on #16
Hi,

You can set the `loglevel` when creating the `Logger`:

[code]
Example: https://github.com/STORM-IRIT/OpenGR/blob/master/demos/Super4PCS/super4pcs_test.cc#L129

[2019-01-09 09:38] nmellado opened #18 "Could not align well - teeths"
This is a copy of the issue https://github.com/nmellado/Super4PCS/issues/65:

[2019-01-09 09:43] nmellado commented on #18
I managed to align this dataset using the following parameters:
[code]
You need a high overlap as these models are mostly covering the same shape.
![screenshot from 2019-01-09 10-40-06](https://user-images.githubusercontent.com/6310221/50890800-347f7c80-13fb-11e9-9702-3b58b6cd6c7d.png)

[2019-01-09 10:00] meakcey commented on #18
If the picture you attached is alignment result, it is not aligned, that is the initial positions already.
You can see from the front teeth not fits.

[2019-01-09 10:02] meakcey opened #19 "Could not compile - VS2015"
Having some build errors like below
Could not figure that out.

CMake Result
Selecting Windows SDK version 10.0.16299.0 to target Windows 10.0.17134.
Eigen3 root path: C:/Program Files/Eigen
STB root path: C:/Program Files/OpenGR/3rdparty/stb
CMake Warning (dev) at src/gr/io/CMakeLists.txt:11 (find_package):
  Policy CMP0074 is not set: find_package uses PackageName_ROOT variables.
  Run "cmake --

[2019-01-09 10:04] meakcey commented on #18
I am aligning them with CloudCompare and results
![well aligned](https://user-images.githubusercontent.com/5054547/50892221-0b68e700-140f-11e9-82ce-99a29c070774.JPG)

[2019-01-09 10:04] nmellado commented on #19
What's your version of Visual Studio ?

[2019-01-09 10:08] nmellado commented on #18
What you are showing is a result of a fine registration algorithm, like ICP.
The purpose of Super4PCS is to fine a rough alignment, to be refined using ICP.

[2019-01-09 10:12] meakcey commented on #19
VS2015

[2019-01-09 10:21] nmellado commented on #19
We recommend VS2017 (see documentation: https://storm-irit.github.io/OpenGR/a00002.html)

[2019-01-09 10:53] meakcey commented on #19
So it is better to work with Super4PCS for now =)
Thanks

[2019-01-09 11:59] nmellado commented on #19
ok.

[2019-01-09 11:59] #19 closed

[2019-01-20 17:08] antithing opened #20 "Running the pcl wrapper on the hippo set, does not align"
Hi, and thank you for making this code available.
I am trying to run the PCL wrapper on the hippo dataset, with the command:

[code]

It runs fine, but in the visualizer, does not align, printing:

[code]
Do I just have the params wrong? or am i missing something?

Thanks!

[2019-01-22 03:02] hejinying commented on #19
@meakcey hi, have you already solve this problems? I met the same problem when compile with VS2015.  please tell me how to solve if you already succeed. thanks!

[2019-01-22 06:04] meakcey commented on #19
unfortunately I could not compile with VS2015 so I returned back to Super4CS

[2019-01-22 06:06] hejinying commented on #19
@meakcey got  it! thanks all the way!

[2019-01-23 09:39] nmellado commented on #20
Thanks for the report.
Indeed, the CLI options weren't transmitted to the matcher, so this behavior.

This is fixed by #21, will be merged after the continuous integration tests succeed.

[2019-01-23 11:45] nmellado commented on #20
Changes have been merged, thanks,

[2019-01-24 03:06] Shubodh opened #22 "Any tools to visualize the correspondences in Super4PCS?"
Are there any existing tools with which Super4PCS can be recompiled to visualize the bases/correspondences that the algorithm is finding? If not, could you give advice as to how to go about it, perhaps by using PCL wrapper?

Also, Super4PCS is doing a great job of giving good rotation values even in situations with very less overlap, but translation values are way off. Could you suggest how this p

[2019-01-24 09:13] nmellado commented on #22
Hi @Shubodh ,

There is currently no such things directly in the library, but we are currently working on a standalone software providing a GUI to the library. This should simplify the parameter setting, and add the kind of visualization tools you mentioned. Early releases are planned for this summer.
This will be announced here: https://www.irit.fr/STORM/site/3d-point-cloud-registration/

That's

[2019-01-24 10:36] Shubodh commented on #22
Thanks a lot for the information @nmellado.

I have emailed you the data.
Sure, I will create another issue.

[2019-01-24 10:40] Shubodh opened #23 "Translations are wrong when registering planar shapes"
(Issue first raised on another [thread](https://github.com/STORM-IRIT/OpenGR/issues/22).)

Super4PCS is doing a great job of giving good rotation values even in situations with very less overlap, but translation values are way off. Could you suggest how this problem can be solved?

(Emailed the data.)

[2019-01-26 16:12] Shubodh commented on #23
Thanks a lot for your elaborate answer, Dr Nicolas. I will try out your suggestions.

[2019-01-28 08:06] nmellado commented on #20
@Shubodh I can see in your log that the value `0.01` set for delta in CLI is not used by the wrapper (`Initial LCP: 1`).
This what was happening before the fix.

Please check you really get the latest commit and recompiled everything.

[2019-02-06 17:54] UditSinghParihar opened #24 "Visualization of the bases selected by super4pcs"
Hello sir,
    I am trying to visualize the corresponding bases selected by Super4pcs in input and output PointCloud, for debugging purposes and extending this library for a segmentation network.
I have made following changes in the code:-
1. I think `base_` and `current_congruent_` are the data members that hold the indices of points  consisting of the bases in the input and output PointClouds af

[2019-02-14 21:44] wenbowen123 opened #25 "Super4PCS and 4PCS give very different results?"
I'm running the "run-example.sh" file under "scripts/"
And here is the output. The transformation given by super4pcs and 4pcs are very different. And 4pcs is visually proved to be correct. What could be the reason for this?

[code]

[2019-02-15 06:06] nmellado commented on #25
Thanks for the report.
Indeed this is not expected.

Could you please post here information regarding your compiler (name, version), compilation option (if any) and compilation mode (debug, release), operating system and OpenGR commit `sha` ?
Also, which version of Eigen do you use ?

Thanks

[2019-02-15 06:07] nmellado commented on #24
Hi, thanks for this very detailed report.

Do you have a repo I can access to look at your changes ?

[2019-02-15 06:10] wenbowen123 commented on #25
@nmellado
gcc 4.9
default compilation option in CMakeLists.
compilation mode: release
Ubuntu 16.04
commit: 5c6560e12f10debdb746dea9e8bf31172c94aa0c

[2019-02-15 06:33] UditSinghParihar commented on #24
Hi,
    1. Yes I have forked your repo, you can see the changes [here](https://github.com/UditSinghParihar/OpenGR/commits/master) .
2. Sir, I would like to know that how you have done the implementation of your algorithm and where could I get access to the final pair of quadrilaterals selected by you algorithm(and possibly visualize them too) and possibly add some new constraints to the selection

[2019-02-15 07:46] nmellado commented on #25
Ok thanks, I'll look at it asap.

[2019-02-15 08:05] nmellado commented on #24
Thanks, I will try to have a look asap. I'm very busy these days but hopefully I can have a look early next week.

It is a very important feature and we are currently working on it, hopefully we should release a software a GUI to check the algorithm output. I will check your code as well, and see if we can merge it to master.

Extending pairs filtering is easy to do, by implementing a dedicated fi

[2019-03-04 09:33] UannaFF opened #26 "Tests not passing"
Hello! i'm trying to use super4pcs to align some point clouds but the results i'm getting doesn't show both point clouds, it show's only one. Output:

./CloudPointProcessing -i ~/Documents/QopiusLabs/AnnaG/20190301141047_1_points.ply ~/Documents/QopiusLabs/AnnaG/20190301141004_1_points.ply -o 0.7 -d 0.01 -t 1000 -n 200 -r super4pcs_fast.obj -m mat_super4pcs_fast.txt
(PLY) ignoring unknown element

[2019-03-04 11:36] UannaFF commented on #26
Hi saw that the output includes only the common data(?), I tried taking the last transformation matrix and applying the transformation to the original data and join them. But the transformation is giving me a worse alignment than the original.

Original
![originals png00](https://user-images.githubusercontent.com/5957673/53730992-b62edc00-3e79-11e9-930d-9e455bc5b0ee.png)

Transformed:

![transform

[2019-03-25 12:45] QiuYilin opened #27 "error to install meshlabplugin"
I followed the tutorial and met a bug that I can not fix.
I ran

and it showed

but   copying directory from "/include/" to "/home/qiuyilin/meshlab/src/external/Inc/linux-g++" can pass successfully

the directory /home/qiuyilin/OpenGR/build/install/lib has a cmake folder and libopengr_io.a

[2019-03-26 07:09] QiuYilin opened #28 "How to use super4pcs in ROS ?"
I have compiled the source code and modify the cmakelist of the package like this:
[code]
but it shows

[2019-05-31 09:39] tyronedong opened #29 "Super4PCS always output identity matrix for two distant point cloud"
I want to apply Supper4PCS to two point cloud, but the program always output identity matrix. I tried different parameters but the result didn't change.
Could you please check my point clouds and tell me how to register them? Thanks a lot!
ps: I use pre-compiled Super4PCS.exe(download from nmellado/Super4PCS/Super4PCS-v1.1.3-win64)
the command line I use is ".\Super4PCS.exe -i .\6\object0.ply
 .\6

[2019-05-31 20:22] Andreachen0707 opened #30 "Unable to compile using the commands in documentation[linux]"
Hi,
I tried to compile the project to use the demos, however, I encounter some weird errors:

[ 33%] Built target opengr_io
Scanning dependencies of target opengr
[ 33%] Built target opengr
[ 50%] Building CXX object demos/Super4PCS/CMakeFiles/Super4PCS.dir/super4pcs_test.cc.o
In file included from /home/OpenGR/src/gr/algorithms/congruentSetExplorationBase.h:54:0,
                 from /home/OpenG

[2019-06-04 11:54] nmellado commented on #30
Dear @Andreachen0707 ,
thanks for your report,
Could you please post here your compiler version ?

[2019-06-04 11:56] nmellado commented on #27
Dear @QiuYilin ,
Could you please post here the full trace when running cmake from scratch ?

[2019-06-04 11:58] nmellado commented on #28
As visible here: https://github.com/STORM-IRIT/OpenGR/blob/master/cmake/Config.cmake.in
the package name is `OpenGR`, not `Super4PCS`.

[2019-06-04 15:56] Andreachen0707 commented on #30
Hi Nicolas,
Thank you for your reply!
I put the compiler version below:

Using built-in specs.
COLLECT_GCC=gcc
COLLECT_LTO_WRAPPER=/usr/lib/gcc/x86_64-linux-gnu/4.9/lto-wrapper
Target: x86_64-linux-gnu
Configured with: ../src/configure -v --with-pkgversion='Debian 4.9.2-10+deb8u2' --with-bugurl=file:///usr/share/doc/gcc-4.9/README.Bugs --enable-languages=c,c++,java,go,d,fortran,objc,obj-c++ --pref

[2019-06-20 12:56] nmellado opened #33 "[doc] Explain sub-sampling algorithm"
As asked by @rabbitTHM, adding more detail on the subsampling algorithm would make sense: see https://github.com/nmellado/Super4PCS/issues/66.

[2019-06-21 21:28] nonbasketless opened #34 "Random translation vector due to uninitialized variables"
Hi there! I noticed that Super4PCS occasionally gives very large translations (~1e38) in release mode, but not in debug mode. I poked around, and found that this is due to qcentroid1_ and qcentroid2_ being left uninitialized in my use case (which pretty much follows the demo app).

I remedied by modifying matchBase.hpp. Change this:

[code]

to this:

[code]

Many compilers will initialize newly a

[2019-07-05 03:07] getupgetup opened #35 "Where is demo"
Hi, I want use the super4pcs in my own program but I don't know how to do that. Is there any demo to teach me how to use Super4PCS class and set the parameters? Thank you!

[2019-07-25 09:23] nmellado commented on #34
Thanks, I'll fix this once PR #31 is merged.

[2019-07-25 09:27] nmellado commented on #35
Hi,
It is all in the documentation:
 - how to use the library in your own software: https://storm-irit.github.io/OpenGR/a00002.html#usage
 - example mixing PCL and OpenGR: https://storm-irit.github.io/OpenGR/a00005.html
 - Super4PCS parameter description: https://storm-irit.github.io/OpenGR/a00012.html

[2019-07-26 01:44] getupgetup commented on #35
Thanks~

[2019-07-26 01:44] #35 closed

[2019-08-19 09:05] nmellado opened #36 "Cannot compile source code if not in git repository"
The current build chain prevent to compile the source code when not using git.
There are two main reasons:

- `GIT_CHANGESET` extraction https://github.com/STORM-IRIT/OpenGR/blob/master/CMakeLists.txt#L168-L170
Proposed fix:
[code]

 - dependencies management using `git submodule`, which is here broken by design (works *only* for git repositories). Consider using an alternative management system,

[2019-08-26 14:36] afabri opened #38 "git submodule on Windows"
Is there a known problem with cmake failing to get stb as a submodule?  In cmake-gui I get:
error:
pathspec 'C:/3rdPartyLibs/OpenGR/3rdparty/stb' did not match any file(s) known to git.

[2019-08-26 15:03] afabri opened #39 "Is VC++ a supported platform"
I ask as  when I call nmake I get:

C:\3rdPartyLibs\OpenGR\src\gr\io\io.cc(154): error C2440: 'initializing': cannot convert from 'std::basic_string<wchar_t,std::char_traits<wchar_t>,std::allocator<wchar_t>>' to 'std::basic_string<char,std::char_traits<char>,std::allocator<char>>'
C:\3rdPartyLibs\OpenGR\src\gr\io\io.cc(154): note: No constructor could take the source type, or constructor overload

[2019-08-27 12:26] nmellado commented on #39
As described [here](https://storm-irit.github.io/OpenGR/a00002.html) (see windows builds section), you need a recent version of VS to compile the code.
Could you post your compiler version ?
Also, did you use a standalone version for cmake, or instead use VS directly as suggested in the documentation ?

[2019-08-27 12:30] nmellado commented on #38
As far as I see, https://github.com/nothings/stb is still online.
The submodule is supposed to be automatically fetched the first time you run cmake:
https://github.com/STORM-IRIT/OpenGR/blob/master/CMakeLists.txt#L115-L122

Can you post here the path you get from this line (https://github.com/STORM-IRIT/OpenGR/blob/master/CMakeLists.txt#L124)
[code]

[2019-08-27 12:37] afabri commented on #39
It have a recent compiler and use cmake 3.15.0 from the command line. As the `boost::filesystem::path::native()` returns a wide string on Windows as documented [here](https://www.boost.org/doc/libs/1_53_0/libs/filesystem/doc/reference.html#class-path), it seems normal that it cannot be assigned to a `std::string`.

[2019-08-27 12:50] nmellado commented on #39
Hum yes, right.
It is true that Boost is not tested on windows with the current test suite (only linux and mac on travis). Other compilers seems to be fine with this conversion.

Boost `filesystem` is used only to load mtl files associated to meshes stored as obj. Do you need this now ? I am afraid I will not be able to fix it before next week.

[2019-08-27 12:54] afabri commented on #39
As I wrote Necip's branch does the job for me.

[2019-08-27 13:07] nmellado commented on #39
Ok great, it should be merged next week as well.

[2019-08-27 13:19] nmellado commented on #39
Side note: with Necip branch, the library is 100% header only, except the IO package.
As such, it will be moved to the apps, and the build chain updated.
This change will be part of the new version 1.2, see PR #37

[2019-10-02 12:57] ghost opened #41 "Scale between 3d CAD model and scene"
Hello!

Thank you for great job!

I would like to use OpenGR to estimate the position ad orientation. However, there is some scaling between 3D CAD model and scene (object of interest from depth image). Both are converted to point cloud and saved as .ply files.

What would you suggest to do in my case? Thank you.

[2019-10-08 07:42] nmellado commented on #41
Hi @AkmaralMoldagalieva ,
You can try to turn on the preprocessor variable `MULTISCALE`, which enable scale estimation.
But, be warned that this feature slows down the exploration a lot.
Also, this feature is very experimental (and thus not documented), and has not been tested extensively, and not recently.

[2019-10-21 18:48] easterngarden opened #42 "Match4PCSBase::TryCongruentSet issue"
I managed to make opengr global registration plugin in meshlab works. However, when I ran example hippo1 and hippo2 with global registration plugin with default setting, it hangs up forever. By debugging, I found that the following condition in TryCongruentSet cannot be satisfied since best_LCP cannot be greater than 1.0 and options_.getTerminateThreshold() returns 1 by default.
          // Termi

[2019-10-21 19:04] easterngarden commented on #39
The reason for this issue is because boost typedef wchar_t as value type for windows.  I use the following codes to resolve this issue:
#ifdef USE_BOOST
    using namespace boost;
    const wstring wworkingDir = filesystem::path(filename).parent_path().native()
            + filesystem::path::preferred_separator;
	std::wstring_convert<std::codecvt_utf8_utf16<wchar_t>> conv;
	const string workingDi

[2019-11-12 14:29] LAICHAO2018 commented on #29
这个问题解决了吗，朋友，我也遇到这样的问题了，请教~

[2019-11-21 11:53] nmellado commented on #42
Thanks for the report.
Meshlab plugin is deprecated and will be removed in the next version.

[2019-11-21 11:53] #42 closed

[2020-01-19 12:26] lfy89 opened #43 "Align two 2D point cloud, I set the value z=0 for all points, the rotation of result is identity matrix?"
Does this code support 2D point cloud? I want to align 2D map,  and I set all points' z=0, the result is strange:
      1        0        0 -7.66553
       0        1        0 -17.0312
       0        0        1        0
       0        0        0        1
I test many parameters, the rotation matrix always identity matrix , I don't know ho to solve it, please help, thank you!

[2020-01-28 12:14] nmellado commented on #43
Hi @lfy89 ,
I've not tested such scenario, however I see no reason why this should not work.

Usually, getting an identity matrix means that the algorithm parameters are not properly set.
Did you follow the recommendation found here: https://storm-irit.github.io/OpenGR/a00012.html

[2020-02-12 20:09] amirhosseingholami opened #44 "Undefined symbols for architecture x86_64 !!!"
Hello, I'm trying to install OpenGR using the guid [here](https://storm-irit.github.io/OpenGR/a00002.html#library), unfortunately I get error you can see my terminal results below, I'm using Mac OS Catalina 10.15.3, please help me to solve this problem. thanks a lot

my compiler version:
[code]
I also installed llvm using hombrew:
[code]

here is the terminal results:

[code]

[2020-02-12 20:28] nmellado commented on #44
It seems that the compiler cannot find the LLVM OpenMP runtime library.
Did you followed the instruction given by brew ?

[code]
(from your post)

[2020-02-13 16:38] amirhosseingholami commented on #44
how should I do it ? would you please guide me ?
should I add anything to this line ?
cmake .. -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=./install

[2020-02-14 10:54] amirhosseingholami commented on #44
And this is new error!!!
this one is about Flann library!
[code]

[2020-02-14 19:59] amirhosseingholami commented on #44
[here](https://github.com/introlab/rtabmap/issues/351) I found the solution.

[2020-02-26 13:39] amirhosseingholami opened #45 "problem with number_of_trials_ computation!!"
When I try to register different point clouds, I usually get incorrect registration!
please check this line of code! because the
https://github.com/STORM-IRIT/OpenGR/blob/ad80cacbdb5cc9bf034e9a9613f1982105e6708d/src/gr/algorithms/congruentSetExplorationBase.hpp#L89
because the program always gets inside this if statement! and the number_of_trials_ always equals kMinNumberOfTrials!!
I think there i

[2020-02-26 13:41] #44 closed

[2020-02-26 13:42] nmellado commented on #45
Hi,
This might be caused by improper parameter setting.
Did you follow the instructions given in the documentation ?
https://storm-irit.github.io/OpenGR/a00012.html

[2020-02-26 14:01] amirhosseingholami commented on #45
yes, the parameters are set! it even happens on your scripts/run-example.sh example!!

[2020-02-26 16:15] nmellado commented on #45
You mean that running the script provided as example does not work ?
This is surprising I cannot reproduce this error, could you post the output of the command line in your post so I can understand what is going on ?

Parameter setting needs to be adapted to each dataset. Could you share a concrete use case ?, e.g., input models and parameter used.

[2020-02-27 18:12] amirhosseingholami commented on #45
Here is the example.sh results:

[code]

and here the screenshot
<img width="1280" alt="Screen Shot 2020-02-27 at 9 32 56 PM" src="https://user-images.githubusercontent.com/9483000/75472984-9efdce00-59a9-11ea-9230-92a526adacee.png">

as you see 2 point clouds did not registered!
I tested the code in Xcode in debug mode, I just run the program line by line and step by step many times and found that

[2020-03-01 18:16] x1597275 commented on #41
please tell me how to turn on the variable MULTI SCALE. Thank you!

[2020-03-06 18:33] AkmaralMoldagalieva commented on #41
Hi! Sorry for my late response. I couldn't solve the problem with scaling  and end up using libpointmatcher library for pose estimation.

[2020-03-06 19:48] nmellado commented on #41
Ok no problem.
Libpointermatcher is well adapted if you have an initial guess on the position.
Cheers

[2020-03-19 16:28] elfring opened #47 "reserved identifier violation"
I would like to point out that identifiers like “[`_OPENGR_ACCELERATORS_KDTREE_H`](https://github.com/STORM-IRIT/OpenGR/blob/f5032fca40dca70da0f6b9895d68c295b09153b7/src/gr/accelerators/kdtree.h#L47 "Update candidate")” and “[`_PCS_UTILS_H_`](https://github.com/STORM-IRIT/OpenGR/blob/a08ef2bc40e93dd4ba2e45cd02521d8a78d28be1/src/gr/sampling.h#L47 "Another update candidate")” [do not fit](https://ww

[2020-03-20 08:04] nmellado commented on #47
Hi @elfring ,

Yes thanks for pointing this, that's true.
I think my preferred option would be to use `#pragma once` everywhere.
I know it is not standard.

[2020-03-26 05:02] monage2018 opened #49 "make Meshlab_install_plugin"
I want to make the Meshlab Plugin, and i run "git clone https://github.com/cnr-isti-vclab/meshlab.git" in the file  relative to OpenGR is "../". Actually, the cmake find the meshlab src file,but there's no target'Meshlab_install_plugin'.

cmake info:
-- Enable OpenMP
CMake Warning (dev) at cmake/FindMeshlab.cmake:42 (message):
  Automatic plateform detection not ready yet.  Using linux-g++
Call St

[2020-03-26 05:11] monage2018 commented on #49
Sorry, I have found the commit "7f11a48", it says "Remove Meshlab demo as Meshlab is not maintained anymore".

[2020-03-27 10:36] nmellado commented on #49
Meshlab project seems to be alive again, so it could make sense to reactivate this demo.
Ideally, a better option would be to add it to meshlab directly, I'll check with them and come back to you.

[2020-03-28 06:39] Gaolixu001 commented on #49
@nmellado Hi, I've seen your in-depth communication with the Meshlab, Thank you very much for your attention and also for Meshlab cooperation. I am looking forward to yours achievements, Thanks,thanks,thanks.

[2020-03-30 11:28] #23 closed

[2020-05-15 08:43] x1597275 opened #50 "how to save the pointcloud after registration and why the pointcloud lose RGB information"
how to save the pointcloud after registration and why the pointcloud lose RGB information

[2020-05-15 08:48] nmellado commented on #50
Hi,
Could you indicate which app you use (PCLwrapper or Super4PCS) ?

[2020-05-15 08:50] x1597275 commented on #50
PCLWrapper

[2020-06-26 06:28] nmellado commented on #49
The plugin has been added to Meshlab master, see https://github.com/cnr-isti-vclab/meshlab/pull/733

[2020-06-26 06:28] #49 closed

[2020-06-26 07:50] nmellado commented on #50
Sorry for the late reply.

The current implementation of the PCL wrapper is a simple demonstrator, illustrating how to use OpenGR in PCL-powered applications.
Nevertheless, PR #50 adds more loaders (obj loader cannot represent vertex colors for point-clouds, only meshes) and automatically saves the registration output as ply.

[2020-06-26 08:27] #50 closed

[2020-06-26 08:47] #38 closed

[2020-06-26 08:51] nmellado commented on #36
- `GIT_CHANGESET` has been fixed in 56eafeeba00025da395a38157364262ab313a034
- dependency management: submodule fetching can be by-passed by setting
  - `EIGEN3_INCLUDE_DIR`: https://github.com/STORM-IRIT/OpenGR/blob/master/CMakeLists.txt#L96
  - `STB_INCLUDE_DIR`: https://github.com/STORM-IRIT/OpenGR/blob/master/CMakeLists.txt#L115

[2020-06-26 08:51] #36 closed

[2020-06-26 14:34] nmellado commented on #45
Dear @amirhosseingholami ,

I tested again and cannot reproduce this bug, see my trace below.
I am on ubuntu 18.04, compilation with gcc 7.5.0, chealpix disabled.

[code]

[2020-06-26 14:36] #34 closed

[2020-06-29 12:44] LorenzBung opened #55 "No setter for options in PCL wrapper"
To set the options with usage of the PCL wrapper, one has to overwrite variables that should not be accessible.

[code]

Should be:

[code]

[2020-06-29 12:48] nmellado commented on #55
Dear @LorenzBung ,

Thanks for the suggestion.
Would you mind to fix this in a PR ?

[2020-06-29 12:48] LorenzBung commented on #55
I can try :)

[2020-06-29 13:16] nmellado commented on #55
Thank you !

[2020-06-30 07:41] LorenzBung opened #57 "fitness_score_ is never assigned in PCL Wrapper"
Will be fixed with #65

[2020-07-03 12:39] LorenzBung commented on #57
I set the fitness score correctly [here](https://github.com/STORM-IRIT/OpenGR/pull/56/commits/5c87d2a96f5dc9cce0ae876d2686c4b704cb936e#diff-55833dbaef592689f3ae9998a1bfae98R80), but now it is always 1

[2020-07-21 09:11] jonla1 opened #58 "Linking errors for header only libraries"
Hi,

I noticed that I get a linking error to gr::Utils::OneRingNeighborhood::get. Is there a possiblity that the function can be static or inline to avoid this issue?

Thanks in advance for your feedback.

[2020-07-21 12:52] #58 closed

[2020-08-03 05:04] astronaut71 opened #61 "Compile error with Ubuntu 16.04"
Hi

I was following the usage guide to compile the source [https://storm-irit.github.io/OpenGR/a00002.html#usage](url) But then when
`    cmake .. -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=./install` I got this errors:

[code]

Then with `make install` got this error:
[code]

Im using ubuntu 16.04 and have PCL 1.8 installed and also used without any problem

Any help?

[2020-08-03 10:55] nmellado commented on #61
Dear @astronaut71 ,

You need a compiler supporting C++17, which does not seems to be the case according to the cmake log.

[2020-08-03 14:40] astronaut71 commented on #61
Im using gcc 7.5/.0 and that one should support c++17 right? What can be the problem then?

[2020-08-04 03:37] astronaut71 commented on #61
I fix it with installing cmake 3.17. But now have other error
`CMakeFiles/OpenGR-PCLWrapper.dir/main.cpp.o:(.data.rel.ro._ZTVN3pcl6search6SearchINS_11PointNormalEEE[_ZTVN3pcl6search6SearchINS_11PointNormalEEE]+0x20): undefined reference to `pcl::search::Search<pcl::PointNormal>::getName[abi:cxx11]() const'
CMakeFiles/OpenGR-PCLWrapper.dir/main.cpp.o:(.data.rel.ro._ZTVN3pcl6search6KdTreeINS_11Point

[2020-08-04 13:52] nmellado commented on #61
Did you delete the cmake cache directory when you updated cmake ?

Could you also try this: https://github.com/PointCloudLibrary/pcl/issues/2406#issuecomment-428101801 and see if ity solves your problem ? (add the include directive in pclwrapper/main.cpp). I'll update the code if needed.

[2020-08-04 15:00] astronaut71 commented on #61
I fix it with adding in main.cpp `#ifndef PCL_NO_PRECOMPILE
#include <pcl/impl/instantiate.hpp>
#include <pcl/point_types.h>
PCL_INSTANTIATE(Search, PCL_POINT_TYPES)
#endif // PCL_NO_PRECOMPIL`

[2020-08-04 15:04] astronaut71 commented on #61
Also, I think the PCL version affects it.  Previously was using 1,7 and now installed 1.8. But not sure how to delete the 1.7.
Now I have a problem when trying to use it in  ROS. I followed the  [https://github.com/STORM-IRIT/OpenGR/issues/28](url) but got an error : `CMake Error at key_points/CMakeLists.txt:24 (find_package):
  By not providing "FindOpenGR.cmake" in CMAKE_MODULE_PATH this project

[2020-08-04 15:06] astronaut71 commented on #61
should I open a new issue regarding the ROS problem?

[2020-08-04 18:17] nmellado commented on #61
Yes please.

[2020-08-04 18:17] #61 closed

[2020-08-05 03:32] astronaut71 opened #63 "Compile error when using ROS. Could not find a package configuration file provided by "OpenGR""
Hi I try to use OpenGR with ROS and was following also [https://github.com/STORM-IRIT/OpenGR/issues/28](url) But still got the error
`CMake Error at key_points/CMakeLists.txt:28 (find_package):
  By not providing "FindOpenGR.cmake" in CMAKE_MODULE_PATH this project has
  asked CMake to find a package configuration file provided by "OpenGR", but
  CMake did not find one.

  Could not find a package

[2020-08-05 08:02] nmellado commented on #63
Did you set `OpenGR_DIR` to the path where you installed OpenGR ? (`OpenGR_install_dir/lib/cmake`)
See documentation: https://storm-irit.github.io/OpenGR/a00002.html#usage

[2020-08-05 08:18] astronaut71 commented on #63
I saw the documentation, but now clear how to set `OpenGR_DIR` to the path where O installed OpenGR. Mean I have to set `OpenGR_DIR` in the OpenGR CmakeList.txt or in my own application CmakeList.txt?

[2020-08-05 09:33] nmellado commented on #63
When you call cmake to configure your 6D_pose project, you can set the value.
Let say you call cmake for a `build` directory contained in `src`, then:
`cmake -DOpenGR_DIR=/path/to/OpenGR_install_dir/lib/cmake ..`

[2020-08-05 10:16] astronaut71 commented on #63
But my 6D_pose_project is a ROS catkin package. So I build the package with catkin_make. Im bit confuse now

[2020-08-05 11:51] nmellado commented on #63
As described here: http://wiki.ros.org/catkin/commands/catkin_make
`catkin_make` forwards command line arguments to cmake.
So you should be able to do something like `catkin_make -DOpenGR_DIR=/path/to/OpenGR_install_dir/lib/cmake`.

I didn't know OpenGR was referred in a ROS package, could you share its link please ?

[2020-08-05 13:30] astronaut71 commented on #63
I mean the ROS package I created in the catkin workspace. Not that  OpenGR was referred to in a ROS package. Sorry

[2020-08-06 05:50] astronaut71 commented on #63
Ok. It works. Thanks so much for the help

[2020-08-06 06:43] #63 closed

[2020-08-10 09:01] #57 closed

[2020-08-10 19:17] pbeeson commented on #9
This is still a problem.  I noticed that the final transformation reported from the PCL Wrapper to Super4PCS has scaling in it.  As such, the fitness function it converges to says 1.0 because it's basically matching a line.  This "bug" affects the entire problem search, as the scores being compared are potentially between different warped versions of the object model.

[2020-08-11 07:51] nmellado commented on #9
Hi @pbeeson ,

I tested with your dataset and the current version of `master`, and both the Super4PCS and the OpenGR-PCLWrapper apps give good result.

### Super4PCS
[code]

![image](https://user-images.githubusercontent.com/6310221/89871543-db1f9680-dbb7-11ea-9401-cbc1b7feb87a.png)

### PCLWrapper
[code]

![image](https://user-images.githubusercontent.com/6310221/89871500-cba04d80-dbb7-11ea-85d2-

[2020-08-11 08:03] nmellado commented on #43
Any update on this ?

[2020-08-11 08:04] nmellado commented on #39
@easterngarden do you still need this trick on current `master` ?

[2020-08-11 08:11] nmellado commented on #29
For the record, these files seems to be not fully compatible with the library IO embedded in the Super4PCS app. I had to load and save them with Meshlab to process them.

Alternatively, you can also use the OpenGR-PCLWrapper to register your files directly
![image](https://user-images.githubusercontent.com/6310221/89873577-f17b2180-dbba-11ea-9906-e79481af686a.png)

[2020-08-11 08:11] #29 closed

[2020-08-11 08:12] nmellado commented on #28
As mentioned in #63 , OpenGR can be used in ROS.
Please re-open this issue if you problem is not solved.

[2020-08-11 08:12] #28 closed

[2020-08-11 08:49] nmellado commented on #27
OpenGR is now embedded in Meshlab since release 2020.07: https://github.com/cnr-isti-vclab/meshlab/releases/tag/Meshlab-2020.07, and built-in meshlab plugin is not supported anymore.

[2020-08-11 08:49] #27 closed

[2020-08-11 08:51] nmellado commented on #8
Fixed by #65

[2020-08-11 08:51] #8 closed

[2020-08-11 09:32] nmellado commented on #30
Dear @Andreachen0707
Sorry for the delay to process this, but your issue should now be fixed.

[2020-08-11 09:32] #30 closed

[2020-08-11 09:33] nmellado commented on #20
This issue should be fixed now, please reopen if not.

[2020-08-11 09:33] #20 closed

[2020-08-11 09:33] #18 closed

[2020-08-11 09:34] #55 closed

[2020-08-11 13:28] pbeeson commented on #9
I didn’t provide a dataset.  That was from a previous user.  I probably
cannot send my exact dataset as it is proprietary.

However I can verify that the ComputeRigidTransform() does in fact return a
rotation matrix that SOMETIMES scales all dimensions of the object. This
tends to happen most often with an overlap > 0.2 and < 1.0.  This is
without turning on MULTISCALE.

If I edit the rigid transf

[2020-08-11 13:54] nmellado commented on #9
Thanks for this detailed report with testing. Having the 3d models would definitively help.
Your experiments seems to make sense, I need to understand how we end up in such strange situation.

[2020-08-11 13:55] pbeeson commented on #9
OK, so I'll attach models and code to reproduce this in a bit, but I have verified that if I use the Super4Pcs binary, I get very different results and final scores than when using the PCL Wrapper with the same options, and the PCL one does in fact show (in the PCL window) a flattened version of the model.

`
08:49 $ Super4PCS -i scene2.ply pipe2.ply -o 1 -d 0.005 -n 50 -r output_obj.ply
(PLY) ign

[2020-08-11 14:00] pbeeson commented on #9
Here is the code/models

[testcode.zip](https://github.com/STORM-IRIT/OpenGR/files/5057369/testcode.zip)

[2020-08-11 14:02] nmellado commented on #9
Perfect thanks a lot, I'll have a look.
Sorry for this, the OpenGR library have changed a lot, and obviously we introduced a bug somewhere.

[2020-08-11 14:25] pbeeson commented on #9
Here is a "Patch" that I find gets around this, and doesn't appear to change the behavior of the Super4PCS binary but does change the PCLWrapper output and score.  Unsure if this should be a PR because it is actually changing the rotation matrix, which is definitely not wanted when scaling is used, but may not even be desirable given that you are crafting the rotation matrix -- of course the craft

[2020-08-11 14:28] pbeeson commented on #9
No, even with this fix, I can find cases where the object model returns flattened:
[code]
![flat2](https://user-images.githubusercontent.com/3858374/89909794-140a3c00-dbb5-11ea-8cda-518889f70d11.png)

[2020-08-11 14:34] pbeeson commented on #9
Normalizing the 3rd vectors computed via cross product seems to fix the problem above, though I believe the final Quaternion is still needed.
[code]

[2020-08-11 14:45] nmellado commented on #9
You are right, the norm of cross product between two vectors return the area of the parallelogram formed by these vectors, which is equal to 1 only if the two vectors are orthogonal...

So this patch solves the problem:

[code]

Would you consider submitting a PR with these changes + updating the contributor list, so you get credit of these changes ?
https://github.com/STORM-IRIT/OpenGR/blob/maste

[2020-08-11 15:47] nmellado commented on #9
Note that this issues is also fixed in the original Super4PCS code: https://github.com/nmellado/Super4PCS/pull/69

[2020-08-11 16:19] #9 closed

[2020-08-15 09:26] al-tu commented on #58
Hello! I still get linker errors and the proposed solution is to add inline specifiers to template specializations, at the difinition site. Fixed with the linked MR. #69

[2020-10-07 03:25] fotsing365 opened #70 "Problem with test"
Hi
Good job. I try to align two point clouds using Super4pcs but  it seems to do nothing and the output file contains only the set which should to be aligned.  What can be the problem?
![Screenshot from 2020-10-07 05-22-33](https://user-images.githubusercontent.com/24406778/95284043-700fda80-085d-11eb-854d-0de8b1f0b6ae.png)

[2020-10-07 05:54] nmellado commented on #70
Hi @fotsing365,

Usually this comes from invalid parameter values.
Using 10k samples as you did is very high.
Did you read the documentation? https://storm-irit.github.io/OpenGR/a00012.html

Also, in any case, Super4PCS binary only outputs the transformed point-cloud.

[2020-10-22 08:26] suishicity opened #71 "Program exits unnormally when delta is too small"
When the delta (max_norm_dist) in the options is too small, the Super4PCS GlobalRegistration cannot run successfully and will exits unnormally without computing the right transformation. For example, the program works well when delta=0.1, but crashes when delta=0.01.
The document of Super4PCS says that delta is parameters to verify how much the clouds are aligned. Why the program goes to crash whe

[2020-10-26 21:22] nmellado commented on #71
Delta is a parameter that controls the desired accuracy of the algorithm. Indirectly, it influences the size of several internal data-structures.
In most cases, wrong parameter values leads to empty congruent set and thus wrong transformation estimation. Could you share the dataset causing the crash, so I can investigate from where it comes from ?
Also, you might consider looking at the documentat

[2020-10-27 10:42] suishicity commented on #71
Thanks for your explanations. The testing data is private and I cannot shared it on the public forum.
The registration parameters are
[code]
Note that the source mesh and the target mesh are partialy overlapped. The program works well at delta=0.1, but goes to crash at delta=0.01

[2020-12-03 09:11] nmellado commented on #39
Seems deprecated, closing.

[2020-12-03 09:11] #39 closed

[2020-12-03 09:14] #43 closed

[2020-12-03 09:15] nmellado commented on #45
Stale issue, closing. Please re-open if still up to date.

[2020-12-03 09:16] #45 closed

[2020-12-03 09:20] nmellado commented on #71
Reducing the parameter delta increase the resolution of the acceleration structures.
I experienced crashed when trying to allocate too large datastructures, maybe this is what happens to you ?
Could you please check the memory consumption when the program crash ?

[2020-12-03 09:20] nmellado commented on #70
Did you manage to use the program ?

[2020-12-03 11:43] nmellado opened #74 "[Tutorial] Registering Simple geometry with outliers background"
This short tutorial is related to the following issue: https://github.com/nmellado/Super4PCS/issues/71
Related page in OpenGR documentation (please read beforehand): https://storm-irit.github.io/OpenGR/a00012.html

### Description of the data
Three different views of a simple shape, with relatively high overlap.
The object is standing on a table and rotated between each view.
Few points acquired f

[2020-12-03 11:49] #47 closed

[2020-12-03 12:21] elfring commented on #47
How do you think about to achieve standard compliance?

[2020-12-03 12:46] nmellado commented on #47
Commit 9432643 changes all include guars to `pragma once`.

[2020-12-03 17:09] elfring commented on #47
You might know that [this construct is also not standard compliant](https://stackoverflow.com/questions/23696115/is-pragma-once-part-of-the-c11-standard/23699893#answer-23699893 "Is #pragma once part of the C++11 standard?").

[2020-12-04 07:06] tiexuedanxin commented on #74
hello, when I make the OpenGR there is a error occured, fatal error: stb_image.h: No such file or directory

[2020-12-04 07:20] nmellado commented on #74
Please open dedicated issue.

[2020-12-04 07:32] tiexuedanxin opened #75 "make error."
hello, when I make the OpenGR there is a error occured, fatal error: stb_image.h: No such file or directory. Is there someone know how to solve it.

[2020-12-04 09:25] nmellado commented on #75
Did you follow the compilation instruction detailed here ? https://storm-irit.github.io/OpenGR/a00002.html
Please give details about your system (operating system, compiler, editor) and the actions performed.

[2020-12-06 19:56] nmellado commented on #47
Yes I know, but it Is supported by most compilers.
If some users have an issue with this one day, I'll fix it.

[2020-12-07 06:45] tiexuedanxin commented on #75
hello, I have installed OpenGR and use the example as you says in the [Tutorial] Registering Simple geometry with outliers background #74, and I have try to increase the parameter -n, but I can't get a satisfactory result, Could you give me some suggestion. The result of mine is as follow.From the image we can see that the chair back is not registered.
![Screenshot from 2020-12-07 01-41-00](https:

[2020-12-07 12:50] nmellado commented on #75
It seems that you are on Ubuntu ? Could you tell me the version, the compiler used and its version ?
Also, did you try with `n=500` ?

[2020-12-08 07:07] tiexuedanxin commented on #75
hello, the version of my ubuntu system is 18.04, Compiler, do you mean the gcc, my gcc version is 7.5.0, and I have tried n = 500, it's no difference.

[2020-12-08 11:38] maximecharriere opened #76 "No OpenGRConfig.cmake in latest OpenGR release (outdated)"
Hello,
I want to use the [Point Set Processing](https://doc.cgal.org/latest/Point_set_processing_3/index.html) package of the CGAL library, and I need to install OpenGR to use a registartion algorithm.
The example program from CGAL use `find_package(OpenGR)` in his `CMakeLists.txt`. The problem is that after the configuration of OpenGR with cmake and the installation with VisualStudio2019 I don't

[2020-12-08 14:14] nmellado commented on #76
Hi,

You should have a OpenGR package, let's try to figure it out...

Could you please post here the following infos:
 - version of the code used (master ?)
 - log of the configure, make and install steps.

Thanks

[2020-12-08 15:39] maximecharriere commented on #76
Thank you for your kick replay !

I tried the installation with the [latest release from August 2017](https://github.com/STORM-IRIT/OpenGR/releases/tag/v1.1.2).
Now with the master it work fine. I'm used to get the latest release to have a stable version and not directly the master.

Sorry for the inconvenience.

[2020-12-08 15:40] nmellado commented on #76
Thanks, I'll keep the issue open to remind me to add a new release.

[2020-12-13 02:45] tiexuedanxin commented on #75
have you solve it?

[2020-12-15 12:18] maxGimeno opened #78 "Problem with OpenGRConfig.cmake"
Hello,

In [the cmake documentation of `find_package`](https://cmake.org/cmake/help/v3.0/command/find_package.html), it is specified that search paths for the config file are, on Unix:
[code]
which gives `<prefix>/lib/cmake/opengr/` in my case, on an Ubuntu docker image.
But the current installation path for this file is actually `<prefix>/lib/cmake/`, without the last `opengr` dir, which prevents

[2020-12-15 12:32] nmellado commented on #78
Thanks @maxGimeno, are you fine with this proposal ?

[2020-12-15 12:36] maxGimeno commented on #78
Yes, perfect ! Thanks !

[2020-12-15 12:41] nmellado commented on #78
If you don't mind I'll first merge a PR (I am on it right now) to re-enable CI using GitHub Actions, as travis is currently broken and I cannot ensure that this change of package location is not breaking anything.

[2020-12-15 13:46] nmellado commented on #75
Ok so what is happening now is that we have different behaviors depending on the operating system.
This is a long standing bug I couldn't fix from now.

Could you try to play a bit we the parameters delta and overlap to see you you can get a better result ?

[2020-12-15 22:40] nmellado commented on #78
Should be fine now.

[2020-12-16 07:56] #78 closed

[2020-12-21 06:43] tiexuedanxin commented on #75
hello, have you solved the problem, I hurry to register my data but I don't know how to use your code to get a satisfactory result.

[2020-12-29 13:21] maxGimeno opened #83 "Min/max errors with visual"
There is a header on windows, Windows.h, that defines maccros called min() and max(), causing warnings and errors in code when calling min or max.
I get those with Visual 2017 :
[code]

To fix those, it is necessary to replace every occurence of `std::max()` by `(std::max)()`,
`std::numeric_limits<Scalar>::max()` by `(std::numeric_limits<Scalar>::max)()`, etc...

[2021-01-02 05:45] 821736960 opened #84 "compile error"
Hi, My env is win10, cmake3.17.2, VS2017

I want to compile the source code following the Compilation page:https://storm-irit.github.io/OpenGR/a00002.html
Just run the command in powershell:
  1 git clone https://github.com/STORM-IRIT/OpenGR.git
  2 cd OpenGR
  3 mkdir build
  4 cd build
  5 mkdir install
  6 cmake .. -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=./install

Then I got the erro

[2021-01-02 06:56] 821736960 commented on #76
Hi. bro
I am also doing a project about using opengr-super4pcs algorithm with cagl. I meet the same problem as you did. Would you mind giving me a email and I have some questions. Sorry to bother you.

[2021-01-04 09:57] maximecharriere commented on #76
Hello
I can't give you an email, but let's talk in your [issue 84](https://github.com/STORM-IRIT/OpenGR/issues/84)

[2021-01-04 10:32] maximecharriere commented on #84
the `make install` command is a GNU command and is not originally available on Windows.
If you want to use `make` command, see this [stackoverflow question](https://stackoverflow.com/questions/32127524/how-to-install-and-use-make-in-windows).

I personally use Visual Studio to build the project.
How do you do it? Here's how:
1. Open the Visual Studio project generated by CMake
    - If you use CMa

[2021-01-04 10:39] 821736960 commented on #84
Thanks, But since step 6:  cmake .. -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=./install, it compiled failed

[2021-01-04 10:54] maximecharriere commented on #84
As you can see at the end of the cmake configuration output, it does not seem to me that the generation has failed.
[code]
All the messages you get are only warnings about PCLWrapper. And if you don't use OpenGR with Point Cloud Library, these warnings are not important

[2021-01-04 11:12] 821736960 commented on #84
I tried twice.
First is using CMake-GUI, set source code dir as E:/OpenGR, build dir as E:/OpenGR/build. Press configure and some warning appears. Then I press the Open Project button to open the project in VS 2017,  I set configuration as Release and x64, then right clic on the INSTALL project and choose Build, but it failed.

The second time I use CMake in command line, find the ..\OpenGR\build\

[2021-01-04 11:33] maximecharriere commented on #84
What are the errors given by Visual Studio ?

[2021-01-04 12:01] 821736960 commented on #84
严重性	代码	说明	项目	文件	行	禁止显示状态
错误	C2143	语法错误: 缺少“,”(在“<”的前面)	OpenGR-PCLWrapper	G:\BaiduNetdiskDownload\PCL 1.8.1\3rdParty\Boost\include\boost-1_64\boost\algorithm\string\detail\util.hpp	93
错误	C2143	语法错误: 缺少“,”(在“<”的前面)	OpenGR-PCLWrapper	G:\BaiduNetdiskDownload\PCL 1.8.1\3rdParty\Boost\include\boost-1_64\boost\numeric\conversion\detail\converter.hpp	453
错误	C2518	关键字“typename”在基类列表中非法；被忽略	OpenGR-PCLWrappe

[2021-01-04 13:00] maximecharriere commented on #84
These seem to be errors related to PCL and PCLWrapper.
I have never installed and used PCL, so I don't know if OpenGR is still compatible with PCL.
Maybe try to build without PCL.

And I personally downloaded and installed Boost 1.74 by myself, without the automatic download. See the [Dependency paragraph](https://storm-irit.github.io/OpenGR/a00002.html#library). Maybe it changes something.

[2021-01-04 14:39] 821736960 commented on #84
Thanks. I try again in a clean environment. I only installed cmake 3.17, VS2017,doxygen and Didnot install PCL.
After running: git clone https://github.com/STORM-IRIT/OpenGR.git, I use Cmake-gui to compile and it seems that it compiles successfully.

Selecting Windows SDK version 10.0.17763.0 to target Windows 10.0.18363.
Eigen3 root path: D:/OpenGR/3rdparty/Eigen
STB root path: D:/OpenGR/3rdparty

[2021-01-05 07:46] 821736960 opened #85 "link to cgal"
Sorry to bother you .

 I try again with  VS2019 built in cmake, rather than cmake standalone. I edit the _Cmakesettings.json_ as follows:

{
  "configurations": [
    {
      "name": "x64-Release",
      "generator": "Ninja",
      "configurationType": "RelWithDebInfo",
      "inheritEnvironments": [ "msvc_x64_x64" ],
      "buildRoot": "E:/OpenGR/build",
      "installRoot": "E:/OpenGR/build/ins

[2021-01-05 09:03] nmellado commented on #84
Thank you @maximecharriere for the support. Note that boost is no longer required by OpenGR (I need to fix an issue with the documentation deployment).

@821736960, what error do you get now that you don't link to PCL ? Could you please paste the log here ?

[2021-01-05 09:09] 821736960 commented on #84
Hi, i open a new issue # 86

[2021-01-05 11:13] 821736960 commented on #84
Hi, i have compiled it with VS2019 but meet new problems #85  about link OpenGr to CGAL, sorry forgive my interruption.

[2021-01-05 11:14] #84 closed

[2021-01-06 03:05] 821736960 commented on #85
It is an issue about CGAL demos. Now everything works well. Thanks.

[2021-01-06 03:05] #85 closed

[2021-01-13 12:09] maximecharriere opened #86 "[Question] Sub-sampling method"
Hello,
I was wondering what was the method behind the sub-sampling parameterized with [Number of samples (-n)](https://storm-irit.github.io/OpenGR/a00012.html).

I have a 3D scan with 50k points and a reference with 500pts.
If I sub-sample the scan with [`CGAL::Polygon_mesh_processing::isotropic_remeshing()`](https://doc.cgal.org/latest/Polygon_mesh_processing/index.html#title7) to get 1k points a

[2021-01-14 08:00] nmellado commented on #86
Hello @maximecharriere ,

This is very interesting question and experiment that you made. I am suspecting our sampling algorithm to be the cause of many of the wrong results we get with the library. Unfortunately I couldn't find time to investigate on this question.

@sgiraudot shall we update the documentation of the cgal wrapper to encourage users to subsample using cgal instead of OpenGR ?

Sam

[2021-01-14 08:23] sgiraudot commented on #86
CGAL offers 3 subsampling algorithms for point clouds : grid (pretty much the same as you describe for OpenGR), random (self-explanatory) and hierarchical (which uses recursive subdivisions along PCA and thus is supposed to simplify more on planar regions). This last one might be interesting for registration but I wouldn't recommend it before being sure of this.

The algorithm cited in this issue

[2021-01-14 14:02] nmellado commented on #33
See also #86

[2021-01-26 11:27] #83 closed

[2021-03-02 08:19] nmellado opened #89 "Potential bug in congruent set exploration"
Initially posted by @joy-yjl: https://github.com/nmellado/Super4PCS/issues/72

https://github.com/STORM-IRIT/OpenGR/blob/c129638491e9f57c0f3f064949bbcc3b007c2f38/src/gr/algorithms/congruentSetExplorationBase.hpp#L350-L352

Suggest: replace `continue` by `break`.

[2021-03-02 14:41] nmellado commented on #89
@maximecharriere would you mind to test my fix (#90) ? It is not supposed to affect the quality of the results, but rather speed up the process by cutting the computations when a good solution is found.

[2021-03-02 14:53] nmellado commented on #89
@joy-yjl fyi it is not possible to `break` a for loop parallelized with openmp. #90 should to the trick.

[2021-03-02 17:13] maximecharriere commented on #89
I have pull, make and install the branch `fix89`
I have tested the registration on a human head containing 1400 vertices via the CGAL interface.
Result using master or fix89 branch were the same.
Time _(only for information, not to be considered as precise)_ : 8373ms with master, 8164ms with fix89

[2021-03-02 19:53] #89 closed

[2021-03-03 09:03] nmellado commented on #76
Fixed, see: https://github.com/STORM-IRIT/OpenGR/releases/tag/v2021.03

[2021-03-03 10:24] maximecharriere commented on #76
Nice ! Think that this issue can be closed

[2021-03-03 10:24] #76 closed

[2021-03-28 10:15] BlademasterQAQ opened #91 "label:bug I can't use my own datas to test"
I run your demo test data and it works well.
But when I run my data, it doesn't work.

My data is **.obj** file exported from **Mimics**.
**My command is:** `/root/OpenGR/build/install/bin/Super4PCS -i ./all_001.obj ./single_001.obj -o 0.7 -d 0.01 -t 1000 -n 200 -r super4pcs_fast.obj -m mat_super4pcs_fast.txt`
**The output is:**
[code]

And I try **.ply** format.
I try two ways to get the .ply for

[2021-03-28 17:22] nmellado commented on #91
Hi,
Could you share your files so I can test on my side ?

[2021-03-28 17:38] BlademasterQAQ commented on #91
Of course!
https://drive.google.com/drive/folders/1rkyB1M6N-7Pu4i94o2aNiw3KmHrZ49i0?usp=sharing
Thx:)

[2021-03-29 12:07] BlademasterQAQ commented on #91
The other question. Which tool or software did you use to show two point clouds in a figure in your paper? Thx:)

[2021-04-27 12:09] nmellado commented on #91
Hi,

Sorry for the late reply.
I managed to register your data using the following options:

[code]

<img width="892" alt="image" src="https://user-images.githubusercontent.com/6310221/116238828-2c7daf00-a762-11eb-92de-23813f8da2b1.png">

[2021-04-27 12:19] #70 closed

[2021-04-27 12:19] #41 closed

[2021-04-29 09:58] diarmaidocualain opened #93 "How to limit the degrees of freedom of the point cloud registration"
Hi!
I have a camera that is generating point cloud data. The camera has a fixed position, but is free to roll roll, pitch and yaw in any direction (up to certain degrees). It captures new point cloud data at each new orientation. Each new orientation is unknown.

The point cloud algorithm that I am using (Super4pcs) outputs the rotation and a translation values. Due to my camera having a fixed pos

[2021-04-29 10:02] nmellado commented on #93
Hi,
This is actually a very good question and interesting use case.
Could you share a couple of point-clouds so I can see how to extend the library to do rotation-only alignement ?

Thanks

Nicolas

[2021-04-29 10:27] diarmaidocualain commented on #93
Yes, below is an image captured by my webcam.
![model](https://user-images.githubusercontent.com/5493218/116536185-873b1600-a8dc-11eb-9c57-c2bf901ff74b.png)
From this, I created a point cloud and projected it onto a virtual unit sphere around the webcam.
I have rotated the webcam, captured another image, shown below:
![data](https://user-images.githubusercontent.com/5493218/116536332-afc31000-a8dc

[2021-05-04 09:33] #16 closed

[2021-05-04 09:34] #74 closed

[2021-05-04 09:36] #22 closed

[2021-09-03 03:47] edwinlu-hdu opened #98 "How to set parameters more reasonably when using the data collected by Kinect"
Hello.
When I use the data collected by Kinect in the OpenGR data set, the matching effect is always unsatisfactory. How do you generally set the parameters when you use the corresponding data?

[2021-09-03 08:41] nmellado commented on #98
Hi,
Did you follow these recommendations ?
https://storm-irit.github.io/OpenGR/a00012.html

[2021-09-03 08:47] edwinlu-hdu commented on #98
Hi，
I follow these recommendations ，but when I transform the first frame and the second frame in Kinect/Guy, the best situation is as shown in the figure below:
![2021-09-03 11-52-58 screenshot](https://user-images.githubusercontent.com/68134450/131977675-2dc0a55e-0911-4f9e-a887-e55f119e7aba.png)

[2021-09-03 08:49] edwinlu-hdu commented on #98
The parameters at this time are as follows :  -o 1  -d 0.01 -n 10000

[2021-10-24 20:29] eesd21 opened #106 "compilation issue with vs2017 and cmake"
@nmellado
I am trying to build the projects with visual studio 2017 with C++ 17. I generated the solution using standalone Cmake 3.17. However, I get a lot of build errors as attach

![opengr_build_error](https://user-images.githubusercontent.com/85164067/138611707-bcfc1178-1fbc-407b-8809-437d4233980a.PNG)

[2021-11-03 08:32] xiaolongDGitHub opened #107 "Input Cloud Point type"
Thanks your repository, the PCLwapper  demo or  super4PCS.exe demo ,the Input cloud Point format is .obj  ,i want to ask how to use the .pcd format  or other format  no normal information ?

[2021-11-04 17:10] nmellado commented on #107
Dear @xiaolongDGitHub ,

This app can also load ply files with normals.
Best option to try it: export the ply (binary or text) from Meshlab: I know that their exporter produce files that we can load.
Alternatively, you can also use the PCL example, and modify it to load pcd files.

[2021-11-04 17:11] nmellado commented on #106
Dear @eesd21 ,

I didn’t try to generate VS solutions recently.
The recommended way is to load the cmake project directly with cmake (see documentation).
could you try and see if it solves your problem ?

[2021-11-04 17:11] nmellado commented on #106
Dear @eesd21 ,

I didn’t try to generate VS solutions recently.
The recommended way is to load the cmake project directly with cmake (see documentation).
could you try and see if it solves your problem ?

[2021-11-04 17:14] nmellado commented on #98
Ok, I’ll test and see if I can reproduce this behavior.
Can your please detail your configuration ? OS, compiler.

[2021-11-04 23:39] xiaolongDGitHub commented on #107
thanks，i found the demo with PCL，input cloud without normals sper4pcs&nbsp; is also ok.

---Original---
From: "Nicolas ***@***.***&gt;
Date: Fri, Nov 5, 2021 01:10 AM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [STORM-IRIT/OpenGR] Input Cloud Point type (Issue #107)

Dear @xiaolongDGitHub ,

This app can also load ply files with normals.
 Best option to try it: export the ply

[2021-11-05 07:32] edwinlu-hdu commented on #98
The OS is Ubuntu18.04 ,and the compiler is gcc 7.5.0.
sorry, I don't known what  configuration will effect this algorithm.
I originally thought that as long as there is a set of suitable parameters, I can register.

[2021-11-08 10:26] nmellado commented on #98
No problem, I'll try to have a look.
Just to be sure, did you use the point cloud available at http://geometry.cs.ucl.ac.uk/projects/2014/super4PCS/ ?

[2021-11-21 18:31] eesd21 commented on #106
@nmellado
sorry for my delayed reply. I tried again as you mentioned but did not work

[2022-02-02 19:32] nmellado opened #109 "Uniform file headers"
- [ ] Fix licence
- [ ] Add authors

[2022-02-02 19:32] #107 closed

[2022-02-03 11:03] nmellado opened #110 "Update changelog + prepare next release"

[2022-04-21 08:18] oesi82 opened #111 "Compiling issues VS2022"
Hi,

When compiling and building the INSTALL target with VS2022 under Win10 there is a bunch of errors.
OpenMP is activated in the project properties (-openmp).

![image](https://user-images.githubusercontent.com/86371120/164409882-92c5abc6-bc70-41de-ba3d-df8fbeb59a00.png)

Thank you,
 Sven

[2022-04-21 15:29] nmellado commented on #111
Hi @oesi82 ,

Thanks for the report, I'll try to replicate the error.

[2022-04-26 04:36] 453875726 opened #112 "Registration with scale"
I'm using OpenGR to registrate two pointclouds with different scale.However, the result is bad. I think it's due to the scale.  Can OpenGR registrate two pointclouds with different scale? Thx.

[2022-04-26 05:42] nmellado commented on #112
Hi,
Scale estimation is experimental.
You need to compile with `-DMULTISCALE` to enable it.

[2022-04-29 12:34] 453875726 commented on #112
Thx for your reply, I use ubuntu20.04 and I compile as
https://storm-irit.github.io/OpenGR/a00002.html
says.
But where to add -DMULTISCALE while compling?

[2022-05-10 13:29] cjamin commented on #111
Same problem here.

[2022-05-10 14:22] cjamin opened #113 ""sq_max_base_diameter_: XXX""
Could the line `std::cout << "sq_max_base_diameter_: " << sq_max_base_diameter_ << std::endl;` in `matchBase.hpp` be removed?
It makes the output very verbose, showing always the same value.
Thanks!

[2022-05-10 14:59] cjamin opened #114 "2D point clouds registration?"
I'm having the same issue as in #43 .
It finds a translation which is never correct, and the rotation is always the identity. Any idea how to solve the problem?
Here are two point clouds with good overlap that I can't register correctly:
[pointclouds.zip](https://github.com/STORM-IRIT/OpenGR/files/8662704/pointclouds.zip)

Thanks!

[2022-06-09 15:14] wjreckli opened #115 "Data precision issue"
I would like to change the output data type to increase the precision.  Right now, the tool is truncating several digits on x, y, z,  resulting in a stair-step pattern in the aligned output.  Any help would be great.

[2022-08-10 05:33] satyajitghana opened #116 "`PLY parser: property x cannot be coerced to requested type float. Has type double`"
seems like a precision issue ?

[2022-08-18 21:29] ransac96 opened #117 "[bug]possible bug in calculating number_of_trials_ ?"
In congruentSetExplorationBase.hpp line 85:
[code]
number_of_trials_ is calculated using following two variables with initial values and assigned to 0:

1.  P_diameter_ is calculated in line 100 in MatchBaseType::init(P, Q, sampler);
2. max_base_diameter_ is calculated in line 104.

[2022-09-09 21:26] alvi1995 commented on #111
The problem i having is object file format limit.  asking me add bigobj. Its a library project so I dont have the C++ option in properties. How do i go around it? Using VS 20222
![Screenshot 2022-09-10 032351](https://user-images.githubusercontent.com/57279626/189448042-2a6c0e35-3265-465b-9595-67c2bc4c0b28.jpg)

[2022-10-05 06:21] jeffryhartanto opened #118 "Rigid Similarity Transformation Algorithm"
Hi, I want to apply the Similarity Transformation Algorithm with CGAL, but I found this is the closest rigid registration library for CGAL. Is there any way for me to achieve what I want using this library?

I have tried providing 4 source points and normals to match the 4 target points and normals. But, the returned transformation matrix has the translation part correct with identity in the rotat

[2022-10-06 11:48] chunibyo-wly commented on #112
4th step

[2022-10-25 03:09] chunibyo-wly opened #119 "[feature] Question about Generalized 4PCS implementation"
Hello, thanks for your work.
I want to implement Generalized 4PCS for this repo, but I had some questions about this algorithm.
But I notice that author said **we assume that the distances d1, d2, and d3 are predefined.**.
Is that mean this algorithm can not deal with scale difference?
Thanks for your reply~